In [ ]:
import mysql.connector
import pandas as pd
from tabulate import tabulate 
import matplotlib.pyplot as plt

# fonction pour se connecter à la base de données 
def connect_to_database():
    conn = mysql.connector.connect(                                                     
        host="localhost",
        port=3306,
        user="root",
        password="upsidedown",
        database="formation_numcity"
    )
    print("\nTape 'Stop' pour fermer la connexion.\n")

    while True:
        commande = input("Entrez la commande SQL : ")

        if commande.strip().lower() == "stop":
            print("✅ Connexion fermée.")
            conn.close()
            break

        try:
            cursor = conn.cursor()
            cursor.execute(commande)

            # Récupération et affichage organisé avec pandas
            rows = cursor.fetchall()
            columns = [desc[0] for desc in cursor.description]
            df = pd.DataFrame(rows, columns=columns)

            if df.empty:
                print("✅ Requête exécutée avec succès (aucun résultat à afficher).")
            else:
                print("\n📋 Résultat :")
                print(tabulate(df, headers='keys', tablefmt='fancy_grid', showindex=False))

        except mysql.connector.Error as err:
            print(f"❌ Erreur SQL : {err}")
        except Exception as e:
            print(f"⚠️ Erreur inattendue : {e}")
        finally:
            cursor.close()

# fonction principale
def main():
    print("📘 Bienvenue dans le programme de gestion de la base de données MariaDB")
    print("🛠️ Commandes SQL disponibles :")
    print("  - SELECT * FROM table_name;")
    print("  - INSERT INTO table_name (column1, column2) VALUES (value1, value2);")
    print("  - UPDATE table_name SET column1 = value1 WHERE condition;")
    print("  - DELETE FROM table_name WHERE condition;")
    print("  - STOP pour arrêter")


# fonction pour afficher la requete sous fome de graphique avec matplotlib

def plot_query_result(query_result):
    # Convertir le résultat de la requête en DataFrame
    df = pd.DataFrame(query_result)

    # Créer un graphique à barres
    df.plot(kind='bar', x='column_name', y='value_column')
    plt.title('Titre du graphique')
    plt.xlabel('Nom de la colonne')
    plt.ylabel('Valeur de la colonne')
    plt.show()


# exécution du programme
if __name__ == "__main__":
    main()
    connect_to_database()
    plot_query_result()

📘 Bienvenue dans le programme de gestion de la base de données MariaDB
🛠️ Commandes SQL disponibles :
  - SELECT * FROM table_name;
  - INSERT INTO table_name (column1, column2) VALUES (value1, value2);
  - UPDATE table_name SET column1 = value1 WHERE condition;
  - DELETE FROM table_name WHERE condition;
  - STOP pour arrêter

Tape 'Stop' pour fermer la connexion.


📋 Résultat :
╒═══════════╤════════════╤═════════════╤═══════════════════════╤═══════════╤═══════════════╤════════════════╤════════════╤═════════════════════╕
│   id_lieu │   latitude │   longitude │ type_lieu             │   zone_id │   propose_par │   modifier_par │ statut     │ date_proposition    │
╞═══════════╪════════════╪═════════════╪═══════════════════════╪═══════════╪═══════════════╪════════════════╪════════════╪═════════════════════╡
│         1 │    45.7605 │      4.8355 │ Parking vélo          │         1 │             1 │            nan │ validé     │ 2025-05-15 13:47:32 │
├───────────┼────────────┼─────────────┼───────────────────────┼───────────┼───────────────┼────────────────┼────────────┼─────────────────────┤
│         2 │    45.7615 │      4.8365 │ Borne recharge rapide │         1 │             2 │              1 │ validé     │ 2025-05-15 13:47:32 │
├───────────┼────────────┼─────────────┼───────────────────────┼───────────┼───────────────┼────────────────┼────────────┼─────────────────────┤
│         3 │    45.7705 │      4.8505 │ Borne recharge lente  │         2 │             1 │            nan │ en attente │ 2025-05-15 13:47:32 │
╘═══════════╧════════════╧═════════════╧═══════════════════════╧═══════════╧═══════════════╧════════════════╧════════════╧═════════════════════╛

📋 Résultat :
╒═══════════╤══════════════╤═════════════════════════════╕
│   id_zone │ nom_zone     │ description                 │
╞═══════════╪══════════════╪═════════════════════════════╡
│         1 │ Centre-ville │ Zone centrale urbaine       │
├───────────┼──────────────┼─────────────────────────────┤
│         2 │ Quartier Est │ Zone résidentielle et calme │
╘═══════════╧══════════════╧═════════════════════════════╛
✅ Connexion fermée.